API_FOOTBALL_KEY=
PORT=8787
LIVE_POLL_SECONDS=10
IDLE_POLL_SECONDS=120
ALLOWED_ORIGIN=https://fwc2026live.com
VAPID_SUBJECT=mailto:admin@fwc2026live.com
VAPID_PRIVATE_KEY=/home/luiti/fwc2026-feed/private_key.pem
VAPID_PUBLIC_KEY=
SUBSCRIPTIONS_DB=/home/luiti/fwc2026-feed/subscriptions.sqlite3
